.static-box {
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    position: static;
  }

  .relative-box {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    top: 20px; /* Movido 20px para baixo */
    left: 15px; /* Movido 15px para a direita */
  }

  .parent {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: lightgray;
  }



  .absolute-topleft {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 140px;
    height: 90px;
    background-color: salmon;
  }

  .absolute-topright {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 140px;
    height: 90px;
    background-color: lightcoral;
  }

  .absolute-bottomleft {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 140px;
    height: 90px;
    background-color: lightcyan;
  }

  .absolute-bottomright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 140px;
    height: 90px;
    background-color: lightseagreen;
  }

  .fixed-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 50px;
    background-color: lightyellow;
  }

  .sticky-box {
    position: sticky;
    top: 0; /* Fica "preso" no topo após rolar */
    background-color: lightcoral;
    padding: 10px;
    
  }